.order-title{
  width: 50%;
  gap: 14px;
}
.filter-list{
  width: 100%;
  display: flex;
  gap: 14px;
  align-items: center;
  .filter-item{
    width: 100%;
  }
}
.order_detail_cnt{
  width: 75vw;
  background-color: var(--kt-white);
  padding: 24px;
}
.section_cnt{
  margin-bottom: 16px;
}
.section_title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px !important;
}