//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "./core/layout/base";
@import "layout/layout";

.cWxXdh{
  height: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}